.auth-to-btn {
    background-color: #2e2e2e!important;
    color: white!important;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.auth-text {
    letter-spacing: 18px;
}


.separator {
    margin-top: 8px;
    margin-bottom: 28px;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;
}
.middle_separator {
    position: absolute;
    padding: 0 16px;
    color: #ccc;
    background: #fff;
    font-size: 11px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    top: -7px;
    left: 30%;
}
.middle_separator {
    color: #777;
    font-size: 13px;
    top: -9px;
    left: 41%;
}
